@font-face {
    font-family: Good;
    src: url(good-sans.otf);
  }

body {
    font-family: Good;
    text-transform: uppercase;
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(12px, 4vw, 48px) ;
    cursor: pointer;
}

h1 div {
    display: inline-block;
}

.porto div{
    display: inline-block;
}

#special {
    display: flex;
    flex-direction: column-reverse;
}